<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Write a response</title>
    <%- include('../.././partials/admin-css-links') -%>
  </head>
  <body>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <b class="navbar-item">Agarbatti</b>
        <a role="button" class="navbar-burger" id="navburger" aria-label="menu" aria-expanded="false" data-target="hammenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navmenu">
        <div class="navbar-end">
          <p class="navbar-item">Welcome username</p>
          <a href="#" class="navbar-item">Logout</a>
        </div>
      </div>
    </nav>
    <main>
      <div id="parentcontainer" data-id="write-response">
        <%- include('../.././partials/admin-sidemenu') -%>
        <div id="main_content">
          <div class="container">
            <br>
            <div class="columns is-centered">
              <div id="create_div" class="column is-10-tablet is-6-desktop">
                <div class="">
                  <p class="title has-text-weight-normal">Writing response for: <%= query.name %></p>
                  <hr>
                </div>
                <form class="mt-4" action="/admin/queries/submit" method="post">
                  <input type="hidden" name="id" id="id" value="<%= query.id %>">
                  <input type="hidden" name="type" id="type" value="update">
                  <div class="field mb-4">
                    <label class="label">Name:</label>
                    <div class="control py-1">
                      <p><%= query.name %></p>
                    </div>
                  </div>
                  <div class="field mb-4">
                    <label class="label">Question:</label>
                    <div class="control py-1">
                      <p><%= query.question %></p>
                    </div>
                    <p class="help">Line break kaise kru?</p>
                  </div>
                  <div class="field mb-4">
                    <label class="label">Response:</label>
                    <div class="control">
                      <textarea class="textarea" name="response" id="response" rows="8" placeholder="Enter a response here"></textarea>
                    </div>
                  </div>
                  <div class="field is-grouped">
                    <div class="control">
                      <button type="submit" class="button is-primary">Send Email</button>
                    </div>
                    <div class="control">
                      <a href="/admin/queries/manage" class="button is-light">Cancel</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('../.././partials/admin-js-links') -%>
    <script src="/js/delete-modal.js" charset="utf-8"></script>
  </body>
</html>
